body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #ff5722;
    font-family: 'Pacifico', cursive;
}

h2 {
    margin-top: 20px;
    color: #324980;
    font-family: 'Poppins', sans-serif;
}

.table {
    margin-top: 20px;
}

.alert {
    font-size: 0.9rem;
    background-color: #e9ecef;
    color: #495057;
    border: 1px solid #ced4da;
}

input, select, button {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    input, select, button {
        font-size: 0.9rem;
    }
}